<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="com.yr" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	
	<mvc:annotation-driven /><!-- 静态资源拦截器 配置后可以内部jsp访问外部资源 -->
	<mvc:default-servlet-handler />
	
	<!-- mapping：映射	location: 本地资源路径,注意必须是webapp根目录下的路径 -->
	<!-- 两个*, 它表示映射resources/下所有的URL, 包括子路径(即接多个/) -->
	<mvc:resources location="/scripts/**" mapping="/scripts/"/> <!-- 配置后可以访问外部资源 -->
	
	<!--  controller包名表示需要扫描这个包下的类 -->
	<context:component-scan base-package="com.yr.handly" />
	<context:annotation-config/>
	
	<!-- 配置页面渲染器 -->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<!-- 配置结果视图的前缀和后缀 ,页面路径默认在webContent下 /test/表示jsp文件在test文件夹 -->
		<property name="prefix" value="/WEB-INF/show/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>
